In [3]:
# session.write_pandas(df,table_name="HR_CHURN",auto_create_table=True).show()

In [1]:
from fosforml.model_manager.snowflakesession import get_session

In [2]:
session =  get_session()

In [5]:
session

In [15]:
from snowflake.snowpark.session import Session,col
import snowflake.snowpark.functions
from snowflake.ml.modeling.metrics import confusion_matrix, accuracy_score, f1_score, recall_score,precision_score
from snowflake.ml.modeling.preprocessing import LabelEncoder, StandardScaler
from snowflake.ml.modeling.impute import SimpleImputer
from snowflake.ml.modeling.ensemble import GradientBoostingClassifier
from snowflake.ml.modeling.xgboost import XGBClassifier
from snowflake.ml.modeling.pipeline import Pipeline
import snowflake

In [7]:
def apply_label_encoding(input_data_frame):
    for i in input_data_frame.dtypes:
        if i[1].find('string') >= 0:
            label_encoder = LabelEncoder(input_cols=i[0],output_cols=i[0],drop_input_cols=True)
            input_data_frame = label_encoder.fit(input_data_frame).transform(input_data_frame)
    return input_data_frame

In [8]:
import pandas as pd
df = pd.read_csv("HR_CHURN.csv")
# snow_df = session.table("HR_CHURN")
snow_df = session.create_dataframe(df)
input_data_frame, test_df = snow_df.randomSplit([0.75, 0.25])

In [9]:
input_data_frame.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"Unnamed: 0"  |"SATISFACTION_LEVEL"  |"LAST_EVALUATION"  |"NUMBER_PROJECT"  |"AVERAGE_MONTLY_HOURS"  |"TIME_SPEND_COMPANY"  |"WORK_ACCIDENT"  |"LEFT"  |"PROMOTION_LAST_5YEARS"  |"DEPARTMENT"  |"SALARY"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1             |0.8                   |0.86               |5                 |262                     |6                     |0                |1       |0                        |sales         |medium    |
|3             |0.72                  |0.87               |5                 |223                     |5                     |0                |1       |0                        |sales         |low       |
|4             |0.37                  |0.52               |2                 |159                     |3                     |0                |1       |0                        |sales         |low       |
|8             |0.89                  |1.0                |5                 |224                     |5                     |0                |1       |0                        |sales         |low       |
|10            |0.45                  |0.54               |2                 |135                     |3                     |0                |1       |0                        |sales         |low       |
|11            |0.11                  |0.81               |6                 |305                     |4                     |0                |1       |0                        |sales         |low       |
|12            |0.84                  |0.92               |4                 |234                     |5                     |0                |1       |0                        |sales         |low       |
|13            |0.41                  |0.55               |2                 |148                     |3                     |0                |1       |0                        |sales         |low       |
|14            |0.36                  |0.56               |2                 |137                     |3                     |0                |1       |0                        |sales         |low       |
|17            |0.78                  |0.99               |4                 |255                     |6                     |0                |1       |0                        |sales         |low       |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [10]:
label_encoder_column = []     
input_data_frame = apply_label_encoding(input_data_frame)
feature_cols = input_data_frame.columns
target_col = "SALARY"
feature_cols.remove(target_col)
OUTPUT_COLS = [target_col + '_PREDICTION']
input_data_frame.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"SALARY"  |"DEPARTMENT"  |"Unnamed: 0"  |"SATISFACTION_LEVEL"  |"LAST_EVALUATION"  |"NUMBER_PROJECT"  |"AVERAGE_MONTLY_HOURS"  |"TIME_SPEND_COMPANY"  |"WORK_ACCIDENT"  |"LEFT"  |"PROMOTION_LAST_5YEARS"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|2.0       |7.0           |1             |0.8                   |0.86               |5                 |262                     |6                     |0                |1       |0                        |
|1.0       |7.0           |3             |0.72                  |0.87               |5                 |223                     |5                     |0                |1       |0                        |
|1.0       |7.0           |4             |0.37                  |0.52               |2                 |159                     |3                     |0                |1       |0                        |
|1.0       |7.0           |8             |0.89                  |1.0                |5                 |224                     |5                     |0                |1       |0                        |
|1.0       |7.0           |10            |0.45                  |0.54               |2                 |135                     |3                     |0                |1       |0                        |
|1.0       |7.0           |11            |0.11                  |0.81               |6                 |305                     |4                     |0                |1       |0                        |
|1.0       |7.0           |12            |0.84                  |0.92               |4                 |234                     |5                     |0                |1       |0                        |
|1.0       |7.0           |13            |0.41                  |0.55               |2                 |148                     |3                     |0                |1       |0                        |
|1.0       |7.0           |14            |0.36                  |0.56               |2                 |137                     |3                     |0                |1       |0                        |
|1.0       |7.0           |17            |0.78                  |0.99               |4                 |255                     |6                     |0                |1       |0                        |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [16]:
pipeline = XGBClassifier(input_cols=feature_cols, label_cols=target_col)
pipeline.fit(input_data_frame)

The version of package 'snowflake-snowpark-python' in the local environment is 1.20.0, which does not fit the criteria for the requirement 'snowflake-snowpark-python'. Your UDF might not work when the package version is different between the server and your local environment.

In [17]:
pred_snow_df = pipeline.predict(apply_label_encoding(test_df))

In [18]:
pred_snow_df.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"SALARY"  |"DEPARTMENT"  |"Unnamed: 0"  |"SATISFACTION_LEVEL"  |"LAST_EVALUATION"  |"NUMBER_PROJECT"  |"AVERAGE_MONTLY_HOURS"  |"TIME_SPEND_COMPANY"  |"WORK_ACCIDENT"  |"LEFT"  |"PROMOTION_LAST_5YEARS"  |"OUTPUT_SALARY"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1.0       |7.0           |0             |0.38                  |0.53               |2                 |157                     |3                     |0                |1       |0                        |1.0              |
|2.0       |7.0           |2             |0.11                  |0.88               |7                 |272                     |4                     |0                |1       |0                        |1.0              |
|1.0       |7.0           |5             |0.41                  |0.5                |2                 |153                     |3                     |0                |1       |0                        |1.0              |
|1.0       |7.0           |6             |0.1                   |0.77               |6                 |247                     |4                     |0                |1       |0                        |1.0              |
|1.0       |7.0           |7             |0.92                  |0.85               |5                 |259                     |5                     |0                |1       |0                        |1.0              |
|1.0       |7.0           |9             |0.42                  |0.53               |2                 |142                     |3                     |0                |1       |0                        |1.0              |
|1.0       |7.0           |15            |0.38                  |0.54               |2                 |143                     |3                     |0                |1       |0                        |1.0              |
|1.0       |7.0           |16            |0.45                  |0.47               |2                 |160                     |3                     |0                |1       |0                        |1.0              |
|1.0       |7.0           |18            |0.45                  |0.51               |2                 |160                     |3                     |1                |1       |1                        |1.0              |
|1.0       |7.0           |20            |0.11                  |0.83               |6                 |282                     |4                     |0                |1       |0                        |1.0              |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [19]:
pred_snow_df.to_pandas()

,SALARY,DEPARTMENT,Unnamed: 0,SATISFACTION_LEVEL,LAST_EVALUATION,NUMBER_PROJECT,AVERAGE_MONTLY_HOURS,TIME_SPEND_COMPANY,WORK_ACCIDENT,LEFT,PROMOTION_LAST_5YEARS,OUTPUT_SALARY
0,1.0,7.0,0,0.38,0.53,2,157,3,0,1,0,1.0
1,1.0,7.0,18,0.45,0.51,2,160,3,1,1,1,1.0
2,1.0,3.0,32,0.40,0.51,2,145,3,0,1,0,1.0
3,2.0,0.0,64,0.11,0.94,6,286,4,0,1,0,2.0
4,1.0,7.0,88,0.37,0.57,2,130,3,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3724,2.0,9.0,14863,0.09,0.77,6,290,4,0,1,0,2.0
3725,2.0,7.0,14894,0.38,0.47,2,128,3,0,1,0,2.0
3726,2.0,0.0,14931,0.87,0.88,5,240,5,0,1,0,2.0
3727,2.0,2.0,14973,0.36,0.52,2,143,3,0,1,0,2.0
3728,1.0,8.0,14996,0.37,0.53,2,143,3,0,1,0,1.0

In [26]:
temp = pipeline.to_xgboost()

In [32]:
# temp.__module__.split('.')[0]

In [50]:
model_registry.log_model(
                   temp,
                   model_name="xgboost_test_model",
                   version_name="v1",
                   comment="test model",
                   conda_dependencies=["scikit-learn==1.3.2"],
                   metrics={},
                   sample_input_data=input_data_frame,
                   python_version="3.10.13"  
                  )

/opt/conda/lib/python3.10/contextlib.py:135: UserWarning: `relax_version` is not set and therefore defaulted to True. Dependency version constraints relaxed from ==x.y.z to >=x.y, <(x+1). To use specific dependency versions for compatibility, reproducibility, etc., set `options={'relax_version': False}` when logging the model.
  return next(self.gen)
/tmp/pip_packages/snowflake/ml/model/_packager/model_packager.py:92: UserWarning: Inferring model signature from sample input or providing model signature for Snowpark ML Modeling model is not required. Model signature will automatically be inferred during fitting.
  handler.save_model(

In [54]:
model_obj = model_registry.get_model(model_name="TestModel")

In [55]:
model = model_obj.version(version_name="v1")

In [58]:
inptu_df ,test_df = session.table("HR_CHURN").randomSplit([0.75, 0.25])

In [59]:
test_df = apply_label_encoding(test_df)

In [75]:
test_df_pandas = test_df.to_pandas()

In [76]:
session.write_pandas(test_df_pandas,table_name="TEST_DATA_HR",overwrite=True).show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"SALARY"  |"DEPARTMENT"  |"Unnamed: 0"  |"SATISFACTION_LEVEL"  |"LAST_EVALUATION"  |"NUMBER_PROJECT"  |"AVERAGE_MONTLY_HOURS"  |"TIME_SPEND_COMPANY"  |"WORK_ACCIDENT"  |"LEFT"  |"PROMOTION_LAST_5YEARS"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|2.0       |7.0           |1             |0.8                   |0.86               |5                 |262                     |6                     |0                |1       |0                        |
|1.0       |7.0           |13            |0.41                  |0.55               |2                 |148                     |3                     |0                |1       |0                        |
|1.0       |7.0           |18            |0.45                  |0.51               |2                 |160                     |3                     |1                |1       |1                        |
|1.0       |7.0           |19            |0.76                  |0.89               |5                 |262                     |5                     |0                |1       |0                        |
|1.0       |7.0           |25            |0.89                  |0.92               |5                 |242                     |5                     |0                |1       |0                        |
|1.0       |2.0           |28            |0.41                  |0.46               |2                 |128                     |3                     |0                |1       |0                        |
|1.0       |2.0           |30            |0.09                  |0.62               |6                 |294                     |4                     |0                |1       |0                        |
|1.0       |3.0           |34            |0.84                  |0.87               |4                 |246                     |6                     |0                |1       |0                        |
|1.0       |9.0           |38            |0.11                  |0.89               |6                 |306                     |4                     |0                |1       |0                        |
|1.0       |9.0           |42            |0.4                   |0.46               |2                 |127                     |3                     |0                |1       |0                        |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [80]:
test_df_fetch = session.table("TEST_DATA_HR")

In [81]:
test_df_fetch.show()

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"SALARY"  |"DEPARTMENT"  |"Unnamed: 0"  |"SATISFACTION_LEVEL"  |"LAST_EVALUATION"  |"NUMBER_PROJECT"  |"AVERAGE_MONTLY_HOURS"  |"TIME_SPEND_COMPANY"  |"WORK_ACCIDENT"  |"LEFT"  |"PROMOTION_LAST_5YEARS"  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|2.0       |7.0           |1             |0.8                   |0.86               |5                 |262                     |6                     |0                |1       |0                        |
|1.0       |7.0           |13            |0.41                  |0.55               |2                 |148                     |3                     |0                |1       |0                        |
|1.0       |7.0           |18            |0.45                  |0.51               |2                 |160                     |3                     |1                |1       |1                        |
|1.0       |7.0           |19            |0.76                  |0.89               |5                 |262                     |5                     |0                |1       |0                        |
|1.0       |7.0           |25            |0.89                  |0.92               |5                 |242                     |5                     |0                |1       |0                        |
|1.0       |2.0           |28            |0.41                  |0.46               |2                 |128                     |3                     |0                |1       |0                        |
|1.0       |2.0           |30            |0.09                  |0.62               |6                 |294                     |4                     |0                |1       |0                        |
|1.0       |3.0           |34            |0.84                  |0.87               |4                 |246                     |6                     |0                |1       |0                        |
|1.0       |9.0           |38            |0.11                  |0.89               |6                 |306                     |4                     |0                |1       |0                        |
|1.0       |9.0           |42            |0.4                   |0.46               |2                 |127                     |3                     |0                |1       |0                        |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [82]:
model.run(test_df_fetch, function_name="predict").to_pandas()

,SALARY,DEPARTMENT,Unnamed: 0,SATISFACTION_LEVEL,LAST_EVALUATION,NUMBER_PROJECT,AVERAGE_MONTLY_HOURS,TIME_SPEND_COMPANY,WORK_ACCIDENT,LEFT,PROMOTION_LAST_5YEARS,OUTPUT_SALARY
0,1.0,3.0,34,0.84,0.87,4,246,6,0,1,0,1.0
1,2.0,6.0,66,0.43,0.54,2,153,3,0,1,0,2.0
2,1.0,7.0,94,0.09,0.83,6,255,4,0,1,0,1.0
3,1.0,8.0,130,0.10,0.83,6,292,4,0,1,0,1.0
4,1.0,7.0,163,0.79,0.89,5,239,5,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7447,2.0,5.0,14821,0.09,0.95,7,256,4,0,1,0,2.0
7448,2.0,9.0,14859,0.45,0.54,2,129,3,0,1,0,2.0
7449,1.0,7.0,14888,0.39,0.49,2,142,3,0,1,0,1.0
7450,2.0,7.0,14945,0.14,0.75,4,277,5,1,1,0,1.0
7451,2.0,2.0,14974,0.36,0.54,2,153,3,0,1,0,2.0

In [ ]:
register_model(
  model_obj=pipeline,
  session=session,
  snowflake_df=pred_snow_df,
  name="HR_Churn_model",
  description="This is a test model",
  flavour="snowflake",
  dataset_name="Hr_churn",
  datasource_name="Hr_churn",
  model_type="classification",
  conda_dependencies=["scikit-learn==1.3.2"],
  source="Notebook"
)